@import'../../scss/constants';
.modalContent{
    padding:20px 0;
    margin-left: 30px;
  
    table{
      font-family: $fontFamily;
      border-collapse: collapse;
      width:40%
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    .results{
      text-align: center;
      color:green;
      font-weight: bold;
      font-size: 17;
      font-family: $fontFamily;
    }
    .close{
      width:70px;
      height: 30px;
      background-color: green;
      font-weight: bold;
      cursor: pointer;
      color:#ffffff;
  
    }
}