@import'../../scss/constants';
.modalHeader{
  display:flex;
  align-items: center;
  justify-content: center;
  height:40px;
  background-color: DodgerBlue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin:0;
  .results{
    text-align: center;
    color:#bfff00;
    font-weight: bold;
    font-size: 17;
    font-family: $fontFamily;
 
  }
}

.modalContent{
    padding:20px 0;
    margin-left: 30px;
  
    table{
      font-family: $fontFamily;
      border-collapse: collapse;
      width:40%
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    .close{
      width:70px;
      height: 30px;
      background-color: green;
      font-weight: bold;
      cursor: pointer;
      color:#ffffff;
  
    }
}