.model{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 100;
    left:0;
    top:0;
    position: fixed;
  

  }
  .modelContainer{
    z-index: 500;
    background-color: white;
    width: 80%;
    border:1px solid #ccc;
    border-radius: 10px;
    margin:10% 20%  0 10%; 
    transition: all 0.3s ease-out;
  }